<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @person.gender %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @person.rg %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @person.cpf %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @person.birth_date %>
</p>

<p>
  <strong>City:</strong>
  <%= @person.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @person.zipcode %>
</p>

<p>
  <strong>Address:</strong>
  <%= @person.address %>
</p>

<p>
  <strong>Adress number:</strong>
  <%= @person.adress_number %>
</p>

<p>
  <strong>District:</strong>
  <%= @person.district %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @person.phone %>
</p>

<p>
  <strong>Business phone:</strong>
  <%= @person.business_phone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @person.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Emergency contact 1:</strong>
  <%= @person.emergency_contact_1 %>
</p>

<p>
  <strong>Emergency contact 2:</strong>
  <%= @person.emergency_contact_2 %>
</p>

<p>
  <strong>Emergency contact 1 phone:</strong>
  <%= @person.emergency_contact_1_phone %>
</p>

<p>
  <strong>Emergency contact 2 phone:</strong>
  <%= @person.emergency_contact_2_phone %>
</p>

<p>
  <strong>Health insurance provider:</strong>
  <%= @person.health_insurance_provider %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @person.observation %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
