<%= form_for(@health_club) do |f| %>
  <% if @health_club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@health_club.errors.count, "error") %> prohibited this health_club from being saved:</h2>

      <ul>
      <% @health_club.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
